# ── GitHub Actions Runners ─────────────────────────────────────────────────
GITHUB_RUNNER_TOKEN_AGRODASH=A2LE2UJNIH3BLKP43GN5TPDJYRIQ6
GITHUB_RUNNER_TOKEN_LAB_CTL=A2LE2UMY2KNIBT4DOR6UOXTJYRIQU    

# ── PostgreSQL réplica local ───────────────────────────────────────────────
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Estacion2            
POSTGRES_DB=control

# ── AgroDash API ──────────────────────────────────────────────────────────
DATABASE_URL=postgresql://agrodash:PASSWORD@postgres:5432/agrodash
PORT=3000
RUST_LOG=info

# ── Bucardo — fuentes físicas ──────────────────────────────────────────────
BUCARDO_SOURCE1_HOST=
BUCARDO_SOURCE1_PORT=5432
BUCARDO_SOURCE1_DB=control
BUCARDO_SOURCE1_USER=postgres
BUCARDO_SOURCE1_PASS=

BUCARDO_SOURCE2_HOST=
BUCARDO_SOURCE2_PORT=5432
BUCARDO_SOURCE2_DB=control
BUCARDO_SOURCE2_USER=postgres
BUCARDO_SOURCE2_PASS=
